.tick{
    display: flex;
    gap: 10rem;
    margin-right: 1rem;
}

/* todo-list.scss */
.completed {
  text-decoration: line-through;
  color: gray; /* optional: make it look muted */
}
.container{
    display: flex;
    position: absolute;
    justify-content: end;
    margin-left: 50rem;
}
.update{
    display: flex;
    margin-left: 40rem;

}
.delete{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}