.tick{
    display: flex;
    gap: 10rem;
    margin-right: 1rem;
}
.Container{
   display: flex;
    justify-content: center;
     max-width: 34.5rem;
     margin-bottom:2rem ;
}
/* todo-list.scss */
.completed {
  text-decoration: line-through;
  color: gray; /* optional: make it look muted */
}
.update{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15rem;

}
.delete{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}