/* The area below the navbar */
.page-content {
  height: calc(100vh - 60px); /* subtract navbar height */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem; /* optional small space */
}

/* Outer box */
.outer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 25rem;
  width: 25rem;
  border-radius: 0.625rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
.heading{
  display: flex;
  position: absolute;
   height: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem;
}