/* The area below the navbar */
.page-content {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column; /* ADD THIS */
  align-items: center;    /* center horizontally */
   /* start from top */
   width: auto;
  padding-top: 1rem;
}


/* Outer box */
.outer {
  display: flex;
  flex-direction: column; /* ADD THIS */
  align-items: center;
  justify-content: center;
  
  height: 40rem;
  width: 40rem;
  border-radius: 0.625rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
