<div class="page-content">
  <div class="heading">
    <h1>Create Todo</h1>
  </div>

  <div class="outer flex flex-col">
     
    <p-toast />

    <div class="card flex flex-col justify-center relative pb-4">

      <form [formGroup]="createForm"
            (ngSubmit)="onSubmit()"
            class="flex flex-column">

        <div class="flex flex-col  gap-1 ">
          <label class="flex flex-col mr-8">Title</label>
          <div class="flex w-1 mb-5">
              <p-autocomplete formControlName="title" [invalid]="isInvalid('title')" />
          </div>
         <div class=" flex -ml-5 ">
           @if (isInvalid('title')) {
            <p-message severity="error" size="small" variant="simple"
              class=" absolute  mt-6   ">Title is required.</p-message>
          }
         </div>
         
        </div>

        <div class="flex flex-col gap-1 ">
          <label class=" mr-8 mt-5">Reminder</label>
          <div class=" flex  w-1"> <input type="datetime-local" formControlName="remindAt"
                 class="p-inputtext p-component mt-6  -m-5  " />
</div>
          

          <div class="flex  mt-7 mr-4 -mb-8 -ml-8 "> 
            @if (isInvalid('remindAt')) {
            <p-message severity="error" size="small" variant="simple"
              class="flex  flex-col justify-content-center align-content-center mt-1 mr-3 ml-3">Date and Time is required.</p-message>
          }
        </div>
         
        </div>
       
     
     <div class="flex ml-8   ">
              <button pButton severity="secondary" type="submit" class="mt-8 -mb-4">
          <span pButtonLabel>Submit</span>
        </button>
        </div>

      </form>
   
  </div>
</div>
