.page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    display: flex;
    align-items: center;
    flex-direction: column;        /* Stack inner items vertically by default */
    justify-content: center;
    width: 90%;                    /* Responsive width */
    max-width: 50rem;              /* Max width ~800px */
         /* White card background */
    border-radius: 12px;           /* Rounded corners */
    padding: 2rem;                 /* Inner spacing */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25); /* Soft shadow for depth */
    margin: auto; 
    gap: 2rem;                 /* Center horizontally if parent allows */
}

/* Optional: full viewport centering */
body, html {
    background-color: #f3f4f6;  
}
.field-row{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
.field{
    display: flex;
    margin-right: 0.8rem;
}
.log-btn{
    margin-bottom: 1rem;
    
}
.email-text{
    display: flex;
    justify-content: center;
}